= render 'layouts/shared/sidebar'

%div.row.row--c
  %div#results.g-b.g-b--l--11of12.g-b--center
    %ul.page
      = render partial: 'affinite_result', collection: @affinite_results
    = paginate @affinite_results

