%header.header
  %div.mas= "Discover music harmonically."
  -# %form.form.form--search(action="")
  -#   %input.form-input(type="search" placeholder="Search Artist, Label, or Track and press the ENTER key." class="search-icon")
  = form_tag(controller: "tracks", action: "search", method: "get", class: "form form--search") do
    = search_field_tag :query, params[:query], class: "form-input search-icon", placeholder: "Search Artist, Label, or Track and press the ENTER key."

