%div.g-b.g-b--l--1of12
  %h1.tac Avalon
  %ul
  - if user_signed_in?
    %li
      = current_user.username ? current_user.username : current_user.name
    %li
      = link_to "favorites", favorites_path(current_user)
    %li
      = link_to 'Sign out', signout_path
  - else
    %li
      = link_to 'Sign in', signin_path
