%div.g-b.g-b--l--1of12
  %h1.tac Avalon
  %ul
  - if user_signed_in?
    %li
      = link_to current_user.name, user_path(current_user)
  - if user_signed_in?
    %li
      = link_to 'Sign out', signout_path
  - else
    %li
      = link_to 'Sign in', signin_path
